{%- from "_macros.js.j2" import argparse, function_header -%}
{{ function_header(bv, func) }}

let index = 0;
let memAllocs = {};
let fileReads = {};

function getBacktrace(context) {
  return Thread.backtrace(context, Backtracer.ACCURATE).map((x) => x.sub(func_{{ func.start }}_module).toString(10))
}

const mallloc_funcs = ['malloc', 'calloc', 'realloc'];

function attach_malloc(symname) {
    const sym_ptr = Module.getExportByName(null, symname);
	Interceptor.attach(sym_ptr, {

		onEnter(args) {
        this.size = args[0];
    },

		onLeave(retval) {
        const allocEvent = {};
        allocEvent["buf"] = retval.toString();
        allocEvent["size"] = this.size;
        allocEvent["backtrace"] = getBacktrace(this.context);
        memAllocs[retval.toString()] =  allocEvent;
    }
});
}

mallloc_funcs.forEach(attach_malloc);

const free_ptr = Module.getExportByName(null, 'free');

Interceptor.attach(free_ptr, {
	onEnter(args) {
      const memPtr = args[0].toString();
        delete memAllocs[memPtr];
        if(fileReads.hasOwnProperty(memPtr)) {
            delete fileReads[memPtr];
        }
    }

});


let fileOpens = {};

Interceptor.attach(Module.getExportByName(null, 'open'), {
  onEnter(args) {
    this.path = args[0].readUtf8String(); // pathname
  },

  onLeave(retval) {
      if(retval.toInt32()<0) {
        console.log("-- cannot open:[" + this.path + "]");
        return
      }
	  fileOpens[retval.toString()] = this.path;
  }

})

Interceptor.attach(Module.getExportByName(null, 'socket'), {

  onLeave(retval) {
      if(retval.toInt32()<0) {
        console.log("-- cannot open socket");
        return
      }
	  fileOpens[retval.toString()] = "NETWORK";
  }

})

Interceptor.attach(Module.getExportByName(null, 'close'), {
  onEnter(args) {
      const fd = args[0].toString();
      delete fileOpens[fd];
  },
})


const handleRead = {
  onEnter(args) {

    // Save arguments for processing in onLeave.
	  const readEvent = {};

        const fd = args[0].toString();
        const buf = args[1].toString();
        const size = args[2].toString();

        if(!fileOpens.hasOwnProperty(fd)) {
            console.log('[!] Unknown fd ' + fd);
        }
        //console.log('[*] reading from fd:[' + fd + '], path:[' + fileOpens[fd] + ']');
        readEvent["size"] = size;
    readEvent["path"] = fileOpens[fd];
    readEvent["backtrace"] = getBacktrace(this.context);

    fileReads[buf]  = readEvent;
  },

}

const inputFunctions = ['read', 'recv', 'recvfrom'];

for(const inputf of inputFunctions) {
    if(Module.findExportByName(null,inputf)) {
        console.log("[*] hooking input symbol:" + inputf);
        Interceptor.attach(Module.getExportByName(null, inputf), handleRead);
    }
}

const registers = {{ bv.arch.standalone_platform.default_calling_convention.int_arg_regs+bv.arch.standalone_platform.default_calling_convention.callee_saved_regs+bv.arch.standalone_platform.default_calling_convention.caller_saved_regs }}

function dereference_ctx(ctx, derefs, taintedBuffers, heapChunks) {
    for(const reg of registers) {
        try {
            const regv = ctx[reg];
            telescope(regv, derefs, taintedBuffers, heapChunks, 0);
        } catch ({ name, message, stack }) {
            /*
            console.log(name);
            console.log(stack);
            console.log(message);
            */
        }
    }
}

function telescope(ptrValue, derefs, taintedBuffers, heapChunks, depth) {
    if(depth > 5) {
        //console.log("too deep!");
        return;
    }
    if(ptrValue === undefined) {
        //console.log("undefined pointer");
        return;
    }
    if (ptr(ptrValue).isNull() || ptr(0).compare(ptrValue)==0) {
        //console.log("NULL pointer");
        return;
    }
    /*
    if( ptr(ptrValue).toInt32() % 8 != 0) {
        //console.log("Unaligned pointer");
        return;
    }
    */
    if (func_{{func.start}}_ptr.compare(ptr(ptrValue)) > 0) {
        //console.log("unreadable address - not above module base");
        return;
    }
    try {
        var hd = "<unreadable>";
        var aptr = "<unreadable>";
        var sym = "<no symbol>";
        var size = 0;

        try {
            if(memAllocs[ptrValue]) {
                size = memAllocs[ptrValue].size;
            } else
                size = 8;
            hd = hexdump(ptrValue, {length: Math.min(16,size), ansi: false, header: false});
            hd = hd.substring(hd.indexOf(' ')+1)
        } catch ({ name, message, stack }) {
            /*
            console.log("block3");
            console.log(name);
            console.log(stack);
            console.log(message);
            */
        }

        try {
            sym = DebugSymbol.fromAddress(ptrValue);
        } catch ({ name, message, stack }) {
            /*
            console.log("block3-2");
            console.log(name);
            console.log(stack);
            console.log(message);
            */
        }

        if(memAllocs[ptrValue])
            heapChunks[ptrValue] = memAllocs[ptrValue];

        if(fileReads[ptrValue])
            taintedBuffers[ptrValue] = fileReads[ptrValue];

        // dereference memory pointers
        // TODO: per platform pointer size
        var fields = [];
        for(let i = 0; i < size; i+=8) {
            let p = ptrValue.add(i);
            try {
                let v = p.readPointer();
                fields.push(v);
                if(derefs[v] !== undefined ) {
                    continue;
                }
                if(p.compare(v)!=0 && ptrValue.compare(v)!=0) {
                    if(!v.isNull()) {
                        // valid pointer will be aligned
                        if( v.toInt32() % 8 == 0) {
                            if (func_3224882528_ptr.compare(v) < 0) {
                                telescope(v, derefs, taintedBuffers, heapChunks, depth+1);
                            }
                        }
                    }
                }
            } catch ({ name, message, stack }) {
                /*
                console.log("block2");
                console.log(name);
                console.log(stack);
                console.log(message);
                */
            }
            const d = {};
            d.fields = fields;
            d.hexdump = hd;
            d.size = size;
            if(sym)
            d.symbol = sym.name;
            derefs[ptrValue] = d;
        }

    } catch ({ name, message, stack }) {
        /*
        console.log("block4");
        console.log(name);
        console.log(stack);
        console.log(message);
        */
    }
}

Interceptor.attach(func_{{ func.start }}_ptr, {
	onEnter(args) {
        console.log("[*] Entering hooked function");
		if (index > 50) {
			Interceptor.detachAll();
			throw new Error(`{{ func.name }}: Maximum call depth exceeded (${index - 1}), detaching all intercepts`);
		}

		this.index = index;
    const buffers = {}
    const heap = {}
    let derefs = {}
    try {
        dereference_ctx(this.context, derefs, buffers, heap);
    } catch ({ name, message, stack }) {
        /*
        console.log("block5");
        console.log(name);
        console.log(stack);
        console.log(message);
        */
    }

    send({
        "context": this.context,
        "backtrace" : getBacktrace(this.context),
        "return": this.returnAddress.sub(func_{{ func.start }}_module),
            "depth": this.depth,
            "thread_id": this.threadId,
            "index": index++,
            "args": {
        {% for param in func.parameter_vars -%}
            {%- set index = loop.index0 | string -%}
            "{{ param.name }}": {{- argparse(param, "args[" + index + "]") -}},
            {% endfor %}
        },
            "fileReads": buffers,
            "fds" : fileOpens,
            "heap" : heap,
            "pointers" : derefs

    })
	},
	onLeave(retval) {
        console.log("[*] Leaving hooked function");
    const buffers = {}
    const heap = {}
    let derefs = {}
    try {
        dereference_ctx(this.context, derefs, buffers, heap);
    } catch ({ name, message, stack }) {
        /*
        console.log("block7");
        console.log(name);
        console.log(stack);
        console.log(message);
        */
    }

		send({
			"context": this.context ? this.context : {},
      "backtrace" : {},
			"retval": retval ? retval : "",
			"index": this.index,
             "fileReads": buffers,
      "fds" : fileOpens,
       "heap" : heap,
      "pointers" : derefs
		})
	}
});